name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@def8c394e3ad351a79bc93815e4a585520fe993b
      with:
        go-version: 1.25

    - name: Checks
      run: make checks

    - name: Test
      run: make test

    - name: Benchmark
      run: make benchmark
